<!--------------------------------->
<!-- we use the posts expression -->
<!--------------------------------->
<div class="posts list-group">
  {{#each posts}}
    <a class="list-item flex-row justify-space-between" href="/dashboard/edit/{{id}}">
<!--------------------------------------------------------------->
<!-- we use the title, and dormate date expressions expression -->
<!--------------------------------------------------------------->
      <span>{{title}}</span>
      <span>{{format_date createdAt}}</span>
    </a>
  {{/each}}
</div>